$fontL = 'MyseoSans', sans-serif
$fontR = 'MuseoSansRegular', sans-serif
$fontM = 'MuseoSansMedium', sans-serif

font-url(file)
	return '../fonts/' + file

.wrapper
	margin 0 auto
	padding 16px 0
	overflow hidden
	width 100%
	max-width 1366px

webfont(family, file, hack-chrome-windows = false, weight = 'normal')
	@font-face
		font-family family
		src url(font-url(file + '.eot'))
		src url(font-url(file + '.eot?#iefix')) format('embedded-opentype'),
				url(font-url(file + '.woff')) format('woff'),
				url(font-url(file + '.ttf')) format('truetype'),
				url(font-url(file + '.svg#'+ family)) format('svg')
		font-weight weight
		font-style normal

webfont('MyseoSans', 'MuseoSansLight', true, normal)
webfont('MyseoSans', 'MuseoSansRegular', true, normal)
webfont('MyseoSans', 'MuseoSansMedium', true, normal)

.content-left
	float left
	width 72%

.operators-menu
	padding 3px
	overflow hidden
	margin 0 0 30px
	li
		list-style none
		float left
		padding 9px 20px
		border-radius 20px
		box-shadow 0 0 6px rgba(0,0,0,0.2)
		margin-right 13px
		font-size 15px
		cursor pointer
		font-family $fontL

.tab-info
	font-family $fontR
	font-size 15px
	margin-bottom 50px
	th
		font-weight 500
		text-align left
		color #999
	td
		padding-top 6px
		padding-bottom 6px
		font-family $fontL
.td-names
	width 200px
.td-views
.td-stalls
	width 135px
	padding-right 17px
	box-sizing border-box
	text-align right
	position relative
.data-changes
	width 50px
	display inline-block
.data-down
	color #ff4346
.data-up
	color #00cb92
.chart-line
	&:after
		content: ''
		height 2px
		position absolute
		left 0
		bottom 0
		right 15px
	&--central-megafon-views:after
		background url(../img/central-megafon-views.jpg) 0 100% repeat-x
	&--central-mts-views:after
		background url(../img/central-mts-views.jpg) 0 100% repeat-x
	&--nw-megafon-views:after
		background url(../img/nw-megafon-views.jpg) 0 100% repeat-x
	&--nw-mts-views:after
		background url(../img/nw-mts-views.jpg) 0 100% repeat-x
	&--central-megafon-stalls:after
		background url(../img/central-megafon-stalls.jpg) 0 100% repeat-x
	&--central-mts-stalls:after
		background url(../img/central-mts-stalls.jpg) 0 100% repeat-x
	&--nw-megafon-stalls:after
		background url(../img/nw-megafon-stalls.jpg) 0 100% repeat-x
	&--nw-mts-stalls:after
		background url(../img/nw-mts-stalls.jpg) 0 100% repeat-x

.chart-mobile-info
	margin-bottom 50px

.tab-total-info
	font-size 15px
	border-collapse collapse
	th
		font-weight 400
		padding 8px 0
		border 1px solid #d8d8d8
		border-top 0
		&:nth-child(1)
			border 0
	table
		width 100%
		border-collapse collapse
		text-align center
		tr:nth-child(even)
			background-color rgba(238, 238, 238, 0.4)
		th
			border 0
			width 50%
			&:nth-child(2)
				border-left 1px solid #eee
		td
			&:nth-child(2)
				border-left 1px solid #eee
	span
		display block
		line-height 1
	.date
		color #999

.tab-total-info-time
	width 100px
	border-right 1px solid #d8d8d8
	border-bottom 1px solid #d8d8d8
	border-top 1px solid transparent
	vertical-align top
	td
		text-align left
		padding 8px 10px
.tab-total-info-data
	width 204px
	border-right 1px solid #d8d8d8
	border-bottom 1px solid #d8d8d8
	vertical-align top
	td
		padding 8px 10px

.chart-list-1
	padding 30px 30px

.operator-item
	font-size 15px
	font-family $fontL
	color #9f9f9f
	padding 9px 20px
	border-radius 20px
	box-shadow 0 0 6px rgba(0,0,0,.2)
	display inline-block
	margin-right 5px
	background-color transparent
	border none
	cursor pointer

.operator-item:focus
	outline none

.operator-item--active
	color #313131
	box-shadow 0 0 6px rgba(0,0,0,.4)

.highcharts-tooltip
	width 100px !important

.highcharts-legend,
.highcharts-button
	display none

.right-menu
	float right
	width 28%
	font-size 15px
	font-family $fontR

.shadow-padding
	box-shadow 0 0 6px rgba(0,0,0,0.2)
	padding 9px 25px
	border-radius 20px
	background-color #fff

.menu-date
	overflow hidden
	padding 3px
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	flex-flow row nowrap
	margin-bottom 10px
	&__start
		@extend .shadow-padding
		max-width 130px
		box-sizing border-box
		height 30px
		border 0
	&__between
		display: inline-block;
		padding-top: 5px;
		margin: 0 15px;
	&__end
		@extend .shadow-padding
		position relative
		max-width 130px
		box-sizing border-box
		height 30px
		border 0
		&:before
			content '\2014'
			position absolute
			left -27px

.step
	overflow hidden
	padding 3px
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	flex-flow row nowrap
	align-items center
	margin-bottom 10px
	&__item
		padding-right 15px

.select2-container--default .select2-selection--single
	@extend .shadow-padding
	padding 0
	border 0 !important
	border-radius 20px !important
.select2-dropdown
	@extend .shadow-padding
	border 0 !important
	padding 0 !important
	border-radius 7px !important
.select2-container
	min-width 80px

.select2-container--classic .select2-selection--single:focus,
.select2-container--classic .select2-selection--single:active,
.select2-container--classic .select2-selection--multiple:focus,
.select2-container--classic .select2-selection--multiple:active
	border none

.select2-results
	padding 10px
	width 200px

.select2-container--open .select2-dropdown
	margin-top 10px
.select2-results__option
	font-size 14px
.select2-search--dropdown .select2-search__field
	padding 0
.select2-search--dropdown
	display none !important
.select2-container--default.select2-results__option--highlighted,
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option[aria-selected=true]
	background-color transparent !important
	color inherit !important

.chart-select--left
	margin-left 30px
	.select2-container
		width 220px !important

.compare
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	flex-flow row nowrap
	align-items center
	&__item
		padding-right 15px
	.select2-container
		min-width 200px
	.select2-container--default .select2-selection--single
		@extend .shadow-padding
		padding 0
		border 0

.form-border
	position relative
	margin-top 20px
	padding-top 25px
	&:before
		content ''
		position absolute
		height 1px
		background-color #979797
		width 213px
		left 50px
		top 0

.chb-info
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	flex-flow row nowrap
	position relative
	margin-bottom 10px
	input
		opacity 0
		position absolute
		z-index 1
		width 25px
		height 25px
		cursor pointer
.label-input.active
	&:before
		background url(../img/chb.gif) 50% 50% no-repeat
.label-input
	position relative
	height 25px
	padding-left 40px
	cursor pointer
	z-index 1
	&:before
		content ''
		position absolute
		width 25px
		height 25px
		box-shadow 0 0 6px rgba(0,0,0,0.2)
		border-radius 5px
		background-color #fff
		left 0
		top -4px
.country
	position relative
	padding-left 55px
	cursor pointer
	&:after
		content ''
		position absolute
		width 0
		height 0
		border-top 7px solid transparent
		border-left 14px solid #4a4a4a
		border-bottom 7px solid transparent
		top 2px
		left 35px

.form-countries
	@extend .form-border

.form-operators
	@extend .form-border

.form-dop-info
	@extend .form-border
	padding-bottom 20px
	margin-bottom 15px
	margin-left: 15px;
	&:after
		content ''
		position absolute
		height 1px
		background-color #979797
		width 213px
		left 50px
		bottom 0
	.chb-info
		margin-bottom 10px

.right-menu-submit
	@extend .shadow-padding
	margin-left 50px
	width 215px
	border 0
	cursor pointer
	&:active,
	&:focus
		outline none

.level-1
	margin-left 30px
	display none

.level-2
	display none
	margin 0 0 10px 30px

.country-info
	>span
		@extend .shadow-padding
		padding 9px 15px
		width 220px
		box-sizing border-box
		display block
		margin-left 30px
		@extend .country
		font-size 13px
		&:after
			right 10px
			left auto
			top 12px
			transform rotate(90deg)

.country-info-list
	display none
	width 220px
	box-sizing border-box
	@extend .shadow-padding
	padding 9px 15px
	border-radius 7px
	margin-top 10px
	margin-left 30px
	span
		display block
		margin-bottom 10px
		cursor pointer
		font-size 13px

.ui-datepicker
	font-size 14px

.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple
	@extend .shadow-padding
	border-radius 20px !important
	border 0 !important
	padding 2px 5px !important
	width 280px !important
